global
    maxconn 4096
    log stdout format raw local0

defaults
    mode http
    timeout connect 1s
    timeout client 30s
    timeout server 30s
    option httplog

frontend minidriver_http
    bind *:18280
    default_backend gateways

backend gateways
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    server gw-1 gw-1:18281 check inter 1s fall 2 rise 2
    server gw-2 gw-2:18281 check inter 1s fall 2 rise 2
    server gw-3 gw-3:18281 check inter 1s fall 2 rise 2
